@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400&family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,200;0,400;0,500;0,700;1,400&family=Poppins:wght@200;300&family=Roboto:wght@100;400;500;700&display=swap');

.header{
  position:relative;
  display:block;
}


.headtext{
 color:rgb(51, 51, 51);
 font-family:'Playfair Display', serif;
 font-size: 50px;
 font-weight:bold;
 text-justify: auto;

 box-shadow: inset 0 -.45em #AAF0D1;

}
.headtext:hover{
   box-shadow: inset 0 -1em #AAF0D1;
   transition: .3s
}
.headtext2{
  color:rgb(51,51,51);
  font-family:'Georgia', sans-serif;
  display:block;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  box-shadow: inset 0 -.45em #AAF0D1;
  text-decoration: none;

}
.headtext2:hover{
  box-shadow: inset 0 -1em #AAF0D1;
  text-decoration: none;
  transition: .3s
  color:rgb(51,51,51);
}
.greytext{
  font-family: "Georgia" , sans-serif;
  font-size: 20px;
  color:rgb(145, 145, 145);
  text-align: right;
  padding-top:20px;
  display: block;
  margin-bottom: 60px;

}

.imgandtext{
  /* display:inline-flex; */
  display: inline-flex;
}

.box{
  display: inline-block;
  margin-left: 4.2%;
  margin-right: 5.5%;

  /* margin-right: 5%; */
}
.box2{
  display: inline-block;
  margin-left: 1.5%;
  /* margin-right: 5%; */
}

.headblock{
 margin-bottom: 50px;

}

.photo{
width: 100px;
border-radius: 50%;
vertical-align: middle;
display: block;
 margin-left: auto;
 margin-right: auto;
}

.mainbody{
  padding-top: 60px;
  align:center;
  width:60%;

  margin-left: auto;
  margin-right:auto;
}

.heading{
  color:rgb(51, 51, 51);
  font-family:'Playfair Display', serif;
  font-weight:bold;
  text-justify: auto;
  box-shadow: inset 0 -.45em #AAF0D1;
  font-size: 36px;
}

.heading:hover{
  box-shadow: inset 0 -1em #AAF0D1;
  transition: .3s
}

.content{
 margin-top: 0px;
 display: inline;
}

.disc{
 font-family: "Georgia" , sans-serif;
 font-size: 20px;
 color:rgb(51, 51, 51);
 text-align: justify;
 display: table-row;
 word-break: break-word;
 line-height:35px;
 padding-top:20px;


}
.imgs{
 width:100%;
 padding-top: 20px;

}

.img_href{
  font-size:20px;
  font-weight:200px;

  text-align: center;
  box-shadow: inset 0 -.45em #AAF0D1;
  display: block;
  width: 38%;
  font-family:'Playfair Display', serif;
  text-decoration: none;
  color:rgb(51, 51, 51);
  padding-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.img_href:hover{
  box-shadow: inset 0 -1em #AAF0D1;
  transition: 0.3s
}


.inline_href{
  font-size:20px;
  font-weight:200px;

  text-align: center;
  box-shadow: inset 0 -.45em #AAF0D1;
  font-family:'Playfair Display', serif;
  text-decoration: none;
  color:rgb(51, 51, 51);
  font-style: italic;

}

.inline_href:hover{
  box-shadow: inset 0 -1em #AAF0D1;
  transition: 0.3s
}


.ref{
  color:rgb(51, 51, 51);
  font-family:'Playfair Display', serif;
  font-style: italic;
  text-justify: auto;
  font-size: 36px;
}

.aref{
  font-size:20px;
  font-weight:200px;
  box-shadow: inset 0 -.45em #AAF0D1;
  font-family:'Playfair Display', serif;
  text-decoration: none;
  color:rgb(51, 51, 51);
  padding-top: 20px;
}

.aref:hover{
  box-shadow: inset 0 -1em #AAF0D1;
  transition: 0.3s
}
